<h1>Stock</h1>
<hr />
<table class="table">
  <tbody>
    <tr>
      <td>Product Name</td>
      <td id="stock--<%= @stock.id %>_product_id_name">
        <%= @stock.product_id.name %>
      </td>
    </tr>
    <tr>
      <td>Count</td>
      <td id="stock--<%= @stock.id %>_count">
        <%= @stock.count %>
      </td>
    </tr>
    <tr>
      <td>Province</td>
      <td id="warehouse--<%= @warehouse.id %>_province">
        <%= @warehouse.province %>
      </td>
    </tr>
  </tbody>
</table>
